<!DOCTYPE html>
<html lang="ru">
  {{> head }}
  <body>
    {{> header }}
    <main class="main">
        {{> promo-section }}
    </main>
    {{> footer }}
    {{> modals }}
    {{> scripts }}
  </body>
</html>
